* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Questrial', sans-serif;
  }

/*links*/

a:link {
  text-decoration: none;
  color:black;
}

a:visited {
  text-decoration: none;
  color:black;

}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.project-links {
  color:#005b96;
}

  /*This is cross-browser support for transparency*/
  .transparent {
    /* Required for IE 5, 6, 7 */
    /* ...or something to trigger hasLayout, like zoom: 1; */
    width: 100%; 
      
    /* Theoretically for IE 8 & 9 (more valid) */	
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    
    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=70);
    
    /* Older than Firefox 0.9 */
    -moz-opacity:0.7;
    
    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.3;
      
    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.7;
  }
  
  body {
     width:96%;
     margin:0 auto;
  }

  .name-font {
  color: #faf6e9;
  font-size:2.4em;
  letter-spacing: 8px;
  text-transform: uppercase;

  }

  #title {
    width:280px;
    margin: 0 auto;
    margin-top:25px;
  
  }

  #title-text {
    color: #faf6e9;
    font-size:1.4em;
    letter-spacing: 8px;
    text-transform: uppercase;
   }


  #city {
  width:140px;
  height:30px;
  margin: 0 auto;
  margin-top:30px;
  padding-top:25px;
  border-top-style:solid;
  border-width:1px;
  border-color: white;


  }

  #city-text {
    color: #faf6e9;
    font-size:0.9em;
    letter-spacing: 8px;
    text-transform: uppercase;
    
  }

  .description {
      padding-top:15px;
  }

  #nav-flex {
    display:flex;
    padding:8px;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
  }
   
  #ul-flex {
    list-style:none;
    display:flex;
    text-align:center;
    width:60%;
   /* box-shadow: 3px 3px 3px 4px #888888; */
    height:40px;

  }
  
  
  #ul-flex li {
    flex:1;
    padding:10px;
/*    background:lightblue; */
  }
 
  #ul-flex li a {
    text-decoration:none;
    font-weight:bold;
    letter-spacing: 1px; 
  }
  
  
  @media (max-width: 630px) {
      
    body {
      width:100%;
    }

    .emboss1 {
      text-align:center; 
      
    }
  
    #nav-flex {
      padding:10px;
      width:100%;
      display:flex;
      flex-wrap: wrap;
      justify-content:center;
      margin-bottom: 12px;
     }   
    
     #ul-flex {
      list-style:none;
      display:flex;
      width:100%;
     display:flex;
     flex-wrap: wrap;
     justify-content:center;
     height:auto;
     margin-top:8px;
      
    }
  #ul-flex > li {
    padding:10px;
    border:1px solid white;
    flex-basis: 50%;
    
  }

  .header {
    
    height: 180px;
    display:flex;
    box-shadow: 0 -1px 7px rgba(0, 0, 0, .7);
        
     /* background: url("/assets/space.jpg"); 
     /*url("http://img.over-blog-kiwi.com/1/46/09/91/20180120/ob_8532e1_film326-v1-1280x720.jpg");*/
     /*https://wallpapercave.com/wp/wp1958981.jpg*/
     /* size: contain; */
     /* position: top center;
     background-attachment: fixed;   */
    
          background: url("/assets/images/space.jpg");
          /*background-image: url("https://jhillaustin.github.io/writerSite/assets/space.jpg");*/
          /* Set a specific height */
          
          /* Create the parallax scrolling effect */
         background-attachment: inherit;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; 
          
  }
 
  #logo-wrap {
    
    margin: 0 auto;
     text-align:center;
     height:90px;
     width:280px;
     margin-top:30px;
     padding-top:6px;

  }

  #under {
    text-align: center;
    font-size:110%;
    width:280px;
    margin: 0 auto;
}

#logo {
  text-align: center;
  font-size:250%;
  font-weight:bold;
  text-shadow: 2px 2px 8px #808080;
  letter-spacing:3px;
  margin-bottom: 10px;
}

       
  } /*end 630*/

@media (min-width: 631px) {
  
 
  
 #nav-flex {
  padding:10px;
  width:100%;
  display:flex;
  justify-content:center;
  margin-bottom: 16px;

 }   

 #ul-flex {
  list-style:none;
  display:flex;
  width:100%;
 margin-top:8px;
 
}

#ul-flex > li {
  padding:10px;
  border:1px solid white;
  flex-basis:50%;

  }

  .header {
    box-shadow: 0 -1px 7px rgba(0, 0, 0, .7);
     display:flex;
     height: 500px;
          
     /* background: url("/assets/space.jpg"); 
     /*url("http://img.over-blog-kiwi.com/1/46/09/91/20180120/ob_8532e1_film326-v1-1280x720.jpg");*/
     /*https://wallpapercave.com/wp/wp1958981.jpg*/
     /* size: contain; */
     /* position: top center;
     background-attachment: fixed;   */
    
          background-image: url("/assets/images/space.jpg");
          /* Set a specific height */
          
          /* Create the parallax scrolling effect */
           background-attachment: inherit;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover; 
               
  }
  #logo-wrap {
    margin: 0 auto;
     text-align:center;
     height:110px;
     width:320px;
     
    margin-top:150px;
    padding-top:2px;
  }

  #logo {
    text-align: center;
    font-size:250%;
    font-weight:bold;
    text-shadow: 2px 2px 8px #808080;
    padding-top: 16px;
    letter-spacing:3px;
    margin-bottom: 10px;
}


} /*end 631*/


@media (min-width: 1530px) {

 
  #nav-flex {
  display:flex;
  justify-content:space-between;
  margin-top:8px
 
  }
  
  #ul-flex  {
    width:60%;
  
  }
  
  #ul-flex > li {
    padding:10px;
  }


    .header {
      box-shadow: 0 -1px 7px rgba(0, 0, 0, .7);
      height: 790px;
            
       /* background: url("/assets/space.jpg"); 
       /*url("http://img.over-blog-kiwi.com/1/46/09/91/20180120/ob_8532e1_film326-v1-1280x720.jpg");*/
       /*https://wallpapercave.com/wp/wp1958981.jpg*/
       /* size: contain; */
       /* position: top center;
       background-attachment: fixed;   */
      
            background-image: url("/assets/images/space.jpg");
            /* Set a specific height */
            
            /* Create the parallax scrolling effect */
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover; 
          
            display:flex;
            flex-direction: column;
            justify-content: center;
            
    }

    #logo-wrap {
      height:380px;
      width:400px;
      background:#005b96;
      
     /* -moz-box-shadow:    3px 3px 5px 6px #404040;
      -webkit-box-shadow: 3px 3px 5px 6px #404040;
      box-shadow:         3px 3px 5px 6px #404040;
      */
     margin-top: -100px;
    }

    .no-transparent {
      z-index:3;
      width: 300px;
      height:300px;
      margin:0 auto;
      margin-top: -340px;
      text-align:center;
      padding:45px 0 20px 0;
    }
  
    #logo {
      text-align: center;
      font-size:250%;
      font-weight:bold;
      text-shadow: 2px 2px 8px #808080;
      padding-top: 16px;
      letter-spacing:3px;
      margin-bottom: 10px;
     
    }

 

   } /*end 1530*/

   
#job {
    font-size: 1.4em;
    

}

  #under {
      text-align: center;
      font-size:110%;
      width:280px;
      margin: 0 auto;
      display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
  
  .underline {
      border-bottom:2px solid;
      width:44px;
      margin-bottom: 8px;
  }
  

  
 
  /*three content boxes*/
  

  #flex-container {
    min-width:160px;
    width:60%;
    height:auto;
    min-height:320px;
    margin:0 auto;
    margin-bottom:20px;
    margin-top:60px;
    padding:20px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
  }
  
  
  .choice-box-left {
    min-width:140px;
    width: 160px;
    height:160px;
    margin:20px;
      padding: 3px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
       background: white;	 
      border-radius: 5px;
    
      
  }
  .choice-box-center {
    min-width:140px;
    width: 160px;
    height:160px;
    margin:20px;
      padding: 3px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
       background: white;	 
      border-radius: 5px;
    
      
  }
  .choice-box-right {
    min-width:140px;
    width: 160px;
    height:160px;
    margin:20px;
      padding: 3px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
       background: white;	 
      border-radius: 5px;
    
      
  }
  
  .shadow {
      box-shadow: 10px 10px 10px #DCDCDC;
      
  
  }
  
  .down-shadow {
     box-shadow: 2px 2px 2px #585858;
  }
  
  #rotateWriting {
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #C0C0C0;
  -moz-transform: rotate(-90deg);  
  -o-transform: rotate(-90deg);  
  -webkit-transform: rotate(-90deg);  
  transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
      margin-top: 84px;

  }

 #rotateGraphics {
    font-size: 150%;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #C0C0C0;
        -moz-transform: rotate(-90deg);  
    -o-transform: rotate(-90deg);  
    -webkit-transform: rotate(-90deg);  
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        margin-top: 100px;
    }
#rotateAPI {
        font-size: 150%;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 1px 2px #C0C0C0;
        -moz-transform: rotate(-90deg);  
        -o-transform: rotate(-90deg);  
        -webkit-transform: rotate(-90deg);  
        transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
            margin-top: 56px;
           
        }  
  
  #in-left-left {
   
      width:40%;
  } 
  
 #in-left-center {
    width:30%;
} 

#in-left-right {
    width:-40%;
} 

  .in-right {
      padding-top: 8px;
      width:50%;
  }
  
  .in-right-left {
      padding-top: 16px;
      width:60%;

  }
  .in-right-center {
      padding-top: 16px;
      width:60%;
  }
  .in-right-right {
      padding-top: 16px;
      width:50%;
  }
  
  .bent  {
  width:80px;
  margin-top:20px;
  padding:5px;
  height:auto;
  min-height:80px;
  text-align:center;
  transform:rotate(1.5deg);;
  -moz-transform: rotate(1.5deg); /* FF3.5 */
  -o-transform: rotate(1.5deg); /* Opera 10.5 */
  -webkit-transform: rotate(-10deg); /* Saf3.1 , Chrome */
  border-radius:5px;

  }
 
  
  #homework
  {
  font-size: 160%;
  font-weight: bold;
  
  }
  
   .position {
      position: relative;
      top: 2px;
  }
  
  #photo {
      position: relative;
      height: 160px;
      box-shadow: 0 -1px 10px rgba(0, 0, 0, .6);
      
      background:
      
      url("https://steemitimages.com/DQmbQzHCtzWNiaC2aQ3wcdpLqMERyAroMPL9JpSdP1WahQR/ny%20street%20photo%201518.jpg");
          /*url("http://img.over-blog-kiwi.com/1/46/09/91/20180120/ob_8532e1_film326-v1-1280x720.jpg");*/
          transform:scale(1.2,1.2);
      
          background-attachment: fixed;
      
          
      
  }

  /*FOOTER starts*/
  
  #foot {
      width:100%;
      background-color: #333333; /* For browsers that do not support gradients */
      background-image: linear-gradient(#808080, #373131); /* Standard syntax (must be last) */
      min-height:210px;
      height:auto;
    
    
  }


  #foot-container {
   
    min-width:160px;
    width:69%;
    height:auto;
    margin:0 auto;
    padding:38px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
            
  }

 
.foot-box-title{
    width:100%;
    height:20px;
    margin-bottom:6px;
    font-weight: bold;
    color: #F5F5F5;
    font-size:1.0em;
    letter-spacing:3px;
}

.foot-border {
    border-top:1px solid #ffd215;
    
    width:100%;
    height:145px;

}

.foot-box {
    min-width:140px;
    width: 200px;
    height:120px;
    margin:10px;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    
  }

  .foot-item {
      margin-top:16px;
      font-size:.9em;
      font-weight:bold;
     letter-spacing:1px;
  }

  #foot-logo {
    width:100%;
    height:auto;
    font-size:1.6em;
      font-weight:bold;
      padding-top:2px;
      color: #F5F5F5;
  }

  #foot-text {
    height:130px;
    width:100%;
    font-size:.9em;
  }

  .hove {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  
  .hove:hover {
    color: white;
  }





  
  #bottom {
    width: 100%;
    height:auto;
    min-height: 50px;
    background-color:#181818;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
  }
  #colors {
    height:2px;
    width:100%;
    display:flex;
    flex-direction: row;
}
 .cOne {
    background:white;
    height:100%;
    flex-grow:1;


  }
 .cTwo {
    background:yellow;
    height:100%;
    flex-grow:1;
}
.cThree {
    background:#04fed8;
    height:100%;
    flex-grow:1;
}
.cFour {
    background:#08fc07;
    height:100%;
    flex-grow:1;
}
.cFive {
    background:#ff00fe;
    height:100%;
    flex-grow:1;
}
.cSix {
    background:red;
    height:100%;
    flex-grow:1;
}
.cSeven {
    background:#4b00c6;
    height:100%;
    flex-grow:1;
}


  
  .emboss1 {
    
    font-weight:bold;
    font-size:3.6em;
    opacity:0.5;
    font-family: arial;
    
    background-color: #666666;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow:  0px 3px 3px rgba(255,255,255,0.5);
     /*inset text see https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/*/
    /*rgba good for shadows because Not only can you set the position, blur and color of the shadow, you can also set its opacity using the alpha value.*/
    
       
  }

  .emboss3 {
   font-weight:bold;
   font-size:1.2em;
   letter-spacing:2px;
   /*background-color: #585858;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow:  3px 3px 3px rgba(112,112,112,0.5);*/
     text-shadow: 33px 3px gray;
    text-shadow: -2px -2px 1px #fff, 2px 2px 2px #000;
    
 /*inset text see https://designshack.net/articles/css/12-fun-css-text-shadows-you-can-copy-and-paste/*/
/*rgba good for shadows because Not only can you set the position, blur and color of the shadow, you can also set its opacity using the alpha value.*/

  }

  .emboss2 {
       
    font-weight:bold;
    opacity:0.5;
    font-family: arial;
     background-color: #3a3a3a;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
        text-shadow:  0px 3px 3px rgba(112,112,112,0.5);
        
  }

  .textShadow {
    text-shadow: 4px 4px gray;
    text-shadow: -2px -2px 1px #fff, 2px 2px 2px #000;
    
  }

