<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel='stylesheet' href='/assets/css/main.css'/>
    <link rel='stylesheet' href='/assets/css/pages.css'/>
    <link rel='stylesheet' href='/assets/jquery-ui/jquery-ui.css'/>
    <link rel='stylesheet' href='/assets/jquery-ui/jquery-ui.structure.css'/>
    <link rel='stylesheet' href='/assets/jquery-ui/jquery-ui.theme.css'/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Questrial|Rubik" rel="stylesheet">
    <script type="text/javascript" src="/assets/js.js"></script>
    
    <script> $( function() {
        $( ".tabs" ).tabs({});
      } );
    </script>
    
    <title>Heart's Content</title>



</head>
<body>

    
    <nav id="nav-flex">
        
        <a href="index.html"><h2 class="emboss1">Heart's Content</h2></a>

        <ul id="ul-flex">
            <li ><a href="#" target="_blank">About</a> </li>
            <li><a href="#" target="_blank">Experience</a> </li>
            <li><a href="#" target="_blank">Education</a> </li>
            <li><a href="#" target="_blank">Contact</a> </li>
        </ul>
    </nav>

  
    {{ content }}

<footer id="foot">
   
<div id="foot-container">
		
        <!-- inner LEFT-->
        <div class="foot-box">
             <p id="foot-logo" class="emboss2">Heart's Content</p>
             <p id="foot-text">Heart's Content is my technical writing brand.  </p>
            

        </div> <!--end left-->
        
        <!-- inner CENTER-->
        <div class="foot-box">
            
            <p class="foot-box-title">Test</p>
            <div class="foot-border">
                <a href="#" class="hove"><p class="foot-item">What Happened</p></a>
                <a href="#" class="hove"><p class="foot-item">What's Happening</p></a>
                <a href="#" class="hove"><p class="foot-item">What's Next</p></a>   
            </div>
           

        </div> <!--end center-->
        
        <!-- inner RIGHT-->
        <div class="foot-box">
            <p class="foot-box-title">
                Test
            </p>
            <div class="foot-border">
               <a href="#" class="hove"><p class="foot-item">What Happened</p></a>
               <a href="#" class="hove"><p class="foot-item">What's Happening</p></a>
               <a href="#" class="hove"><p class="foot-item">What's Next</p></a>
                  
            </div>	
        </div> <!--end right-->
        
    </div> <!--end flex-container-->


</footer>
<div id="bottom">
    <div id="colors">
        <div class="cOne"></div>
        <div class="cTwo"></div>
        <div class="cThree"></div>
        <div class="cFour"></div>
        <div class="cFive"></div>
        <div class="cSix"></div>
        <div class="cSeven"></div>
    </div>
</div>
<script type="text/javascript" src="/assets/js/js.js"></script>
<script type="text/javascript" src="/assets/jquery-ui/jquery-ui.js"></script>

</body>
</html>

